Repository dieter-project/WithPT-BE, pull requests merged in 2023-09, with the labels that each got.

#31 feat(auth) : token 검증을 통한 access token, refresh token 재발급
  .gitignore
  src/main/java/com/sideproject/withpt/application/auth/controller/OAuthController.java
  src/main/java/com/sideproject/withpt/application/auth/controller/dto/ReissueReqeust.java
  src/main/java/com/sideproject/withpt/application/auth/controller/dto/ReissueResponse.java
  src/main/java/com/sideproject/withpt/application/auth/service/OAuthLoginService.java
  src/main/java/com/sideproject/withpt/common/exception/GlobalException.java
  src/main/java/com/sideproject/withpt/config/SecurityConfig.java
  src/test/java/com/sideproject/withpt/application/auth/service/OAuthLoginServiceTest.java
Labels: ✨ Feature, ✅ Test

#33 test : embeded에서 바로 테스트 가능하도록 수정
  build.gradle
  src/test/java/com/sideproject/withpt/WithPtApplicationTests.java
  src/test/java/com/sideproject/withpt/application/member/service/MemberServiceTest.java
  src/test/java/com/sideproject/withpt/application/trainer/service/TrainerServiceTest.java
  src/test/java/com/sideproject/withpt/common/jwt/JwtTokenProviderTest.java
  src/test/java/com/sideproject/withpt/common/redis/repository/RefreshTokenRedisRepositoryTest.java
  src/test/java/com/sideproject/withpt/config/TestEmbeddedRedisConfig.java
  src/test/resources/application.yml
Labels: ✅ Test

#34 Create deploy-ci.yml
  .github/workflows/deploy-ci.yml
Labels: ⚙ Setting

#37 feat(setting) : AWS, Nginx, Docker로 무중단 배포
  .github/workflows/deploy-ci.yml
  .gitignore
  appspec.yml
  docker/Dockerfile
  docker/docker-compose.yml
  scripts/health.sh
  scripts/profile.sh
  scripts/start.sh
  scripts/stop.sh
  scripts/switch.sh
  src/main/java/com/sideproject/withpt/common/deploy/ProfileController.java
  src/main/java/com/sideproject/withpt/config/CorsConfig.java
  src/main/java/com/sideproject/withpt/config/SecurityConfig.java
  src/main/resources/application-real.yml
  src/main/resources/application.yml
  src/main/resources/static/index.html
  src/test/java/com/sideproject/withpt/WithPtApplicationTests.java
  src/test/java/com/sideproject/withpt/common/deploy/ProfileControllerTest.java
  src/test/java/com/sideproject/withpt/common/redis/repository/RefreshTokenRedisRepositoryTest.java
  src/test/resources/application.yml
Labels: ⚙ Setting, ✅ Test

#38 feat : S3 이미지 업로드 및 삭제 Component
  .gitignore
  build.gradle
  src/main/java/com/sideproject/withpt/common/exception/CommonErrorCode.java
  src/main/java/com/sideproject/withpt/common/exception/GlobalException.java
  src/main/java/com/sideproject/withpt/common/utils/AwsS3Uploader.java
  src/main/java/com/sideproject/withpt/config/AwsS3Config.java
  src/test/java/com/sideproject/withpt/WithPtApplicationTests.java
  src/test/java/com/sideproject/withpt/common/redis/repository/RefreshTokenRedisRepositoryTest.java
  src/test/java/com/sideproject/withpt/common/utils/S3ComponentTest.java
  src/test/java/com/sideproject/withpt/config/AwsS3MockConfig.java
  src/test/resources/application.yml
Labels: ✨ Feature, ✅ Test

#40 feat(exercise) : 운동 기록
  src/main/java/com/sideproject/withpt/application/exercise/controller/ExerciseController.java
  src/main/java/com/sideproject/withpt/application/exercise/dto/request/ExerciseRequest.java
  src/main/java/com/sideproject/withpt/application/exercise/dto/response/ExerciseListResponse.java
  src/main/java/com/sideproject/withpt/application/exercise/exception/ExerciseErrorCode.java
  src/main/java/com/sideproject/withpt/application/exercise/exception/ExerciseException.java
  src/main/java/com/sideproject/withpt/application/exercise/exception/validator/ExerciseTypeValidator.java
  src/main/java/com/sideproject/withpt/application/exercise/exception/validator/ValidExerciseType.java
  src/main/java/com/sideproject/withpt/application/exercise/repository/ExerciseCustomRepository.java
  src/main/java/com/sideproject/withpt/application/exercise/repository/ExerciseCustomRepositoryImpl.java
  src/main/java/com/sideproject/withpt/application/exercise/repository/ExerciseRepository.java
  src/main/java/com/sideproject/withpt/application/exercise/service/ExerciseService.java
  src/main/java/com/sideproject/withpt/application/type/BodyPart.java
  src/main/java/com/sideproject/withpt/application/type/ExerciseType.java
  src/main/java/com/sideproject/withpt/domain/record/Exercise.java
  src/test/java/com/sideproject/withpt/application/exercise/Fixture/ExerciseFixture.java
  src/test/java/com/sideproject/withpt/application/exercise/Fixture/MemberFixture.java
  src/test/java/com/sideproject/withpt/application/exercise/service/ExerciseServiceTest.java
Labels: ✨ Feature, ✅ Test

#46 fix(trainer) : 트레이너 회원가입 연관관계 로직 변경
  src/main/java/com/sideproject/withpt/application/trainer/service/TrainerService.java
  src/main/java/com/sideproject/withpt/application/trainer/service/dto/single/WorkScheduleDto.java
  src/main/java/com/sideproject/withpt/domain/gym/Gym.java
  src/main/java/com/sideproject/withpt/domain/gym/GymTrainer.java
  src/main/java/com/sideproject/withpt/domain/trainer/Trainer.java
  src/main/java/com/sideproject/withpt/domain/trainer/WorkSchedule.java
Labels: 🐞 BugFix

#48 feat(gym) : 체육관 list 조회
  src/main/java/com/sideproject/withpt/application/gym/controller/GymController.java
  src/main/java/com/sideproject/withpt/application/gym/controller/response/TrainerAllGymsResponse.java
  src/main/java/com/sideproject/withpt/application/gym/exception/GymErrorCode.java
  src/main/java/com/sideproject/withpt/application/gym/exception/GymException.java
  src/main/java/com/sideproject/withpt/application/gym/repositoy/GymQueryRepository.java
  src/main/java/com/sideproject/withpt/application/gym/service/GymQueryService.java
Labels: ✨ Feature, ✅ Test

#51 feat(settings) : querydsl 의존성 및 config 추가
  build.gradle
  src/main/java/com/sideproject/withpt/config/QuerydslConfig.java
  src/test/java/com/sideproject/withpt/config/QuerydslConfigTest.java
Labels: ✨ Feature, ⚙ Setting, ✅ Test

#52 feat(member) : 회원 실명 & 닉네임 기반으로 검색 기능 구현
  src/main/java/com/sideproject/withpt/application/gym/service/GymService.java
  src/main/java/com/sideproject/withpt/application/member/controller/MemberAuthenticationController.java
  src/main/java/com/sideproject/withpt/application/member/controller/MemberController.java
  src/main/java/com/sideproject/withpt/application/member/dto/response/MemberSearchResponse.java
  src/main/java/com/sideproject/withpt/application/member/repository/MemberQueryRepository.java
  src/main/java/com/sideproject/withpt/application/member/repository/MemberQueryRepositoryImpl.java
  src/main/java/com/sideproject/withpt/application/member/repository/MemberRepository.java
  src/main/java/com/sideproject/withpt/application/member/service/MemberAuthenticationService.java
  src/main/java/com/sideproject/withpt/application/member/service/MemberQueryService.java
  src/main/java/com/sideproject/withpt/application/member/service/MemberService.java
  src/main/java/com/sideproject/withpt/application/trainer/controller/TrainerAuthenticationController.java
  src/main/java/com/sideproject/withpt/application/trainer/service/TrainerAuthenticationService.java
  src/main/java/com/sideproject/withpt/application/trainer/service/TrainerService.java
  src/test/java/com/sideproject/withpt/application/member/service/MemberAuthenticationServiceTest.java
  src/test/java/com/sideproject/withpt/application/member/service/MemberQueryServiceTest.java
  src/test/java/com/sideproject/withpt/application/trainer/service/TrainerAuthenticationServiceTest.java
Labels: ✨ Feature, ✅ Test

#56 fix : swagger ignoring 적용
  src/main/java/com/sideproject/withpt/common/jwt/JwtAuthenticationFilter.java
  src/main/java/com/sideproject/withpt/config/SecurityConfig.java
  src/main/java/com/sideproject/withpt/domain/gym/GymTrainer.java
  src/main/resources/application.yml
Labels: 🐞 BugFix
